.footer{
    visibility: hidden;
}
@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    font-feature-settings: "ss02";
    font-display: block;
    src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold")
}